{% extends 'main_app/base.html' %}

{% block content %}
   <div class="row mt-3">
    <div class="col-2 side-bar"></div>
    <div class="col-8 bg-dark text-light p-4 profile-main-content">
        <div class="d-flex flex-column align-items-center">
            <img src="{{user.image.url}}" alt="user-image" style="width: 50px; height: 50px; border-radius: 50%;">
            <h3>{{user.name}}</h3>
            <h6>{{user.username}}</h6>
            <a href="{% url 'update-profile' 'profile' %}" class="btn btn-success mt-2 mb-2">Edit profile</a>
        </div>
       <div class="d-flex column-wise justify-content-evenly mt-3">
            <div class="p-3 rounded my-rooms" style="background-color: #2f3542; width: 48%;">
                <div class="d-flex justify-content-between">
                    My Rooms
                    {% if request.user == user%}
                        <a href="{% url 'create-room' user.id 'profile' %}" class="text-decoration-none text-light btn btn-success">Create</a>
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-center mt-4">
                    {% if rooms %}
                    {% for room in rooms %}
                      <div class="col mb-4" style="flex: 0;">
                          <div class="card room-body" style="width: 18rem; background-color: #ff4757;">
                              <div class="card-body d-flex flex-column">
                              <div class="d-flex align-items-center justify-content-between">
                                <img src="{{room.host.image.url}}" alt="host-image" style="width: 50px; height: 50px; border-radius: 50%;">
                                <div>
                                  <i class="fa-solid fa-user-group"></i> {{room.participants.all.count}}
                                </div>
                              </div>
                                <h5 class="card-title">{{room.name}}</h5>
                                <p>Tag: {{room.tag}}</p>
                                {% if room.host == request.user %}
                                  <div class="d-flex justify-content-center">
                                    <a href="{% url 'update-room' room.id %}" class="card-link btn btn-success hidden">Update</a>
                                    <a href="{% url 'update-room' room.id %}" class="card-link d-none show text-success"><i class="fa-solid fa-pen"></i></a>
                                    <a href="{% url 'delete-room' room.id room.host.id 'profile'%}" class="card-link btn btn-danger hidden">Delete</a>
                                    <a href="{% url 'delete-room' room.id room.host.id 'profile'%}" class="card-link d-none show text-light"><i class="fa-solid fa-trash"></i></a>
                                    <a href="{% url 'room' room.id %}" class="card-link btn btn-success hidden">Visit</a>
                                    <a href="{% url 'room' room.id %}" class="card-link d-none show text-light"><i class="fa-solid fa-eye"></i></a>
                                    
                                  </div>
                                {% else %}
                                <div class="d-flex justify-content-center">
                                  <a href="{% url 'room' room.id %}" class="card-link btn btn-success hidden">Visit</a>
                                  <a href="{% url 'room' room.id %}" class="card-link d-none show text-light"><i class="fa-solid fa-eye"></i></a>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                      </div>
                      {% endfor %}
                      {% else %}
                      <h5>No rooms available</h5>
                      {% endif %}
                  </div>
            </div>
            <div class="p-3 rounded joined-rooms" style="background-color: #2f3542; width: 48%;">
                Joined Rooms
                <div class="row d-flex justify-content-center mt-4">
                    {% if all_rooms %}
                    {% for room in all_rooms %}
                      <div class="col mb-4" style="flex: 0;">
                          <div class="card room-body" style="width: 18rem; background-color: #ff4757;">
                              <div class="card-body d-flex flex-column">
                              <div class="d-flex align-items-center justify-content-between">
                                <img src="{{room.host.image.url}}" alt="host-image" style="width: 50px; height: 50px; border-radius: 50%;">
                                <div>
                                  <i class="fa-solid fa-user-group"></i> {{room.participants.all.count}}
                                </div>
                              </div>
                                <h5 class="card-title">{{room.name}}</h5>
                                <p>Tag: {{room.tag}}</p>
                                <div class="d-flex justify-content-center">
                                  {% if request.user in room.participants.all %}
                                    <a href="" class="card-link btn btn-success hidden"><i class="fa-solid fa-circle-check"></i> Joined</a>
                                    <a href="" class="card-link d-none show text-light"><i class="fa-solid fa-circle-check"></i></a>
                                  {% endif %}
                                  <a href="{% url 'room' room.id %}" class="card-link btn btn-success hidden">Visit</a>
                                  <a href="{% url 'room' room.id %}" class="card-link d-none show text-light"><i class="fa-solid fa-eye"></i></a>
                                </div>
                              </div>
                            </div>
                      </div>
                      {% endfor %}
                      {% else %}
                      <h5>No rooms available</h5>
                      {% endif %}
                  </div>
            </div>
       </div>
    </div>
    <div class="col-2 side-bar"></div>
   </div>
{% endblock content %}